nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: white;
}
.about {
    padding: 80px 20px;
    text-align: center;
    background: linear-gradient(to right, #f4f6ff, #e9ecff);
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav a:hover {
    color: #2a5298;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    text-align: center;
    background: #f8f9fa;
}

header {
    background: linear-gradient(to right, #1e3c72, #2a5298);
    color: white;
    padding: 80px 20px;
}

header h1 {
    font-size: 40px;
}
.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #4a63ff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

button {
    padding: 12px 25px;
    border: none;
    background: white;
    color: #2a5298;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

button:hover {
    background: #2a5298;
    color: white;
}

.services {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 50px;
}

.card {
    background: white;
    padding: 25px;
    width: 220px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}
.projects {
    padding: 80px 20px;
    text-align: center;
    background: #ffffff;
}

.project-card {
    background: #f4f6ff;
    padding: 20px;
    margin: 20px auto;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
@media (max-width: 768px) {
    .services {
        flex-direction: column;
        align-items: center;
    }

    nav {
        flex-direction: column;
        gap: 10px;
    }
}
#contact {
    padding: 50px;
    background: #f1f1f1;

}



